<!--Tutorials a htmldog.com-->

<!--Informem de que aquest document és HTML-->
<!DOCTYPE html>

<!--Afegim el primer tag de HTML. rOOT TAG-->
<html>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <head>
    <!--Importem classes de BootStrap-->
    {% include 'bootstrap.html'%}
    <title>Aupa Atletic</title>

    <script src="https://unpkg.com/htmx.org@1.8.6"></script>

    
  </head>
  <body>

    
    {% include 'nav.html' %}
    {% include 'banner.html' %}

          <!-- have a button POST a click via AJAX https://htmx.org/docs/#introduction
                     https://htmx.org/ -->
    <button hx-get="/api/proba" hx-swap="outerHTML" hx-target="this">Click Me</button>
    
    <div class="container">
      <h1 class="text-center mt-2 mb-4">{{company_name}}</h1>
      <div class="row mb-5" style= "margin-bottom:16px">
        <div class="col-6">
      <p class="lead">
        Cinc de la matinada no esperaba que acabarem pels carrers de ciutadella tu dabant i jo darrere valencia banyada camals mullats valencia banyada carrer de la pau per terra glorieta semafor enutjat frenaba en sec i els dos a terra gobern militar i un tio en metralleta que ens mira molt mal coses que passen
      </p>
        </div>
        <div class="d-none d-md-block col-1"></div>
        <div class= "d-none d-md-block col-5">
      <img src="/static/toad.jpg" style= "height:320px;border-radius:10px">
        </div>
      </div>
      <h2 class="text-center mt-2 mb-4">Posicions del camasutra</h2>
      <div style="margin-bottom:16px;">
      </div>
      <div class="text-center">
          <button class="btn btn-primary">MDLR</button>
          <p class: "mt-4">Aquesta pagina esta feta perque la copis jdr</p>
      </div> 
    </div>
    {% include 'footer.html' %}
  </body>

  <!--Intenem afegir icona favicon.ico pero no va-->
  <link rel="shortcut icon" href="{{ url_for ('static', filename= 'https://jovian-career-copy.marcandres.repl.co/static/pepsi.ico')}}">
</html>