<!--Tutorials a htmldog.com-->

<!--Informem de que aquest document és HTML-->
<!DOCTYPE html>

<!--Afegim el primer tag de HTML. rOOT TAG-->
<html>
  <link rel="shortcut icon" href="{{ url_for('static', filename='python.png') }}">
  <head>
    <!--Importem classes de BootStrap-->
    {% include 'bootstrap.html'%}
    <title>Aupa Atletic</title>

    <script src="https://unpkg.com/htmx.org@1.8.6"></script>

    
  </head>
  <body>

    
    {% include 'nav.html' %}
    {% include 'banner.html' %}


    
    <div class="container">
      <h1 class="text-center mt-2 mb-4">{{company_name}}</h1>
      <div class="row mb-5" style= "margin-bottom:16px">
        <div class="col-6">
      <p class="lead mb-6">
        "El peor de todos los pasos es el primero. Cuando estemos listos para una decisión importante, todas las fuerzas se concentran para evitar que sigamos adelante. Ya estamos acostumbradoes a esto. Es una vieja ley de la física: romper la inercia es difícil. Como no podemos cambiar la física, concentremos la energía extra y a si conseguiremos dasd el primer paso. Después el camino mismo ayuda"
        <!-- PAULO COELHO -->
      </p>
      <p class="fs-6 fst-italic">- PAULO COELHO -</p>
        </div>
        <div class="d-none d-md-block col-1"></div>
        <div class= "d-none d-md-block col-5">
      <img src="/static/gambare.jpg" style= "height:320px;border-radius:10px">
        </div>
      </div>
      <h2 class="text-center mt-2 mb-4">Partiendo la pana</h2>
      <div style="margin-bottom:16px;">
      </div>
      <div class="text-center">
          <!-- have a button POST a click via AJAX https://htmx.org/docs/#introduction
      https://htmx.org/  -->
          <div hx-get="/proba/actuals" hx-trigger="every 1s"></div>
          <div hx-get="/proba/temps" hx-trigger="every 1s"></div> 
          <button hx-get="/api/proba" hx-swap="outerHTML" hx-target="this" class="btn btn-primary">Salvación</button>
          <p class: "mt-4">El ignorante afirma, el sabio duda y reflexiona</p>
      </div> 
    </div>
    {% include 'footer.html' %}
  </body>

  <!--Posem la favicon de pepsi-->
  <link rel="shortcut icon" href="{{ url_for ('static', filename= 'https://jovian-career-copy.marcandres.repl.co/static/pepsi.ico')}}">
</html>