<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://www.google.com/search?q=rodolfo&rlz=1C1CHBF_esES863ES863&oq=rodolfo&aqs=chrome..69i57j46i67i433j46i67i131i433j0i433i512j46i131i433i512j46i433i512j0i512l3j0i271.1168j0j7&sourceid=chrome&ie=UTF-8">
      <img src="/static/diamante.jpg" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">  Rodolfo</a>
    <button class="navbar-toggler lm-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav drop">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/dataloggator">G-120</a>
        <a class="nav-link" href="/api/grafico">Grafica proba</a>
        <a class="nav-link disabled">Disabled</a>
      </div>
    </div>
  </div>
</nav>

<div style="height:56px"></div>